@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

nav.navbar {
  transition: 0.5s;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
  background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a {
  color: white;
  transition: 0.5s;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a:hover {
  color: #ff9966;
}

header.jumbotron {
  text-align: center;
  background-image: url(../HNCK2360.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
header.jumbotron .container {
  color: white;
  padding: 200px 0;
}
header.jumbotron hr {
  max-width: 50px;
  border: solid 2px #ff9966;
}
header.jumbotron h4 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: norml;
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #CCC;
}
section#section_ask .col-sm-5.img {
  background-image: url(../phone.jpg);
  background-size: 100% auto;
  background-size: ;
  height: 350px;
  mix-blend-mode: multiply;
}
section#section_ask h2 {
  margin-top: 130px;
  padding: 0px 20px;
}

section#section_about img {
  width: 130%;
}
section#section_about .img_wrap {
  height: 220px;
  overflow: hidden;
}

section#section_story {
  background-color: #222;
  color: white;
  padding: 0;
}
section#section_story .col-sm-5 {
  background-image: url(../sory.jpg);
  height: 400px;
  background-size: 100% auto;
}
section#section_story .col-sm-5 .cross {
  position: absolute;
  left: 23%;
  top: 40%;
  color: red;
  font-size: 30px;
  font-weight: bold;
}
section#section_story .col-sm-7 {
  text-align: center;
}
section#section_story .col-sm-7 i {
  font-size: 40px;
}
section#section_story .col-sm-12.features {
  margin-top: 40px;
  margin-bottom: 40px;
}

section#section_future img {
  width: 100%;
}
section#section_future i {
  font-size: 30px;
}
section#section_future .feature {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer.jumbotron {
  text-align: center;
  background-image: url(../HNCK2360.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
footer.jumbotron input {
  background-color: transparent;
  max-width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
footer.jumbotron .container {
  color: white;
  padding: 60px 0;
}
footer.jumbotron hr {
  max-width: 50px;
  border: solid 2px #ff9966;
  background-color: #ff9966;
}
