nav.navbar.navbar-default.navbar-fixed-top.navbar-top

  .container 
    //.navbar-top用來修飾透明
    .navbar-header
      a.navbar-brand 嘉南藥理大學 資訊多媒體應用系 互動科技技優人才培育計畫
    //選得會摺疊起來(變成漢堡選單)
    .navbar-collapse.collapse
      //導覽列的物件,是右邊的導覽列
      
header.jumbotron
  .container
    h1(data-0="transform: translateY(-50px)" data-500="transform: translateY(100px)") 智慧健康數位電子書ebook教師研習
    hr
    h4 主講者:哈瑪星科技 - 孫寒若、常丹楓

//section文章章節的意思,用於管理一個一個頁面區塊 
section#section_ask
  .container
    .row
      .col-sm-5.img(data-0="transform: translateX(-200px)" data-500="transform: translateY(0px)")
      .col-sm-7(data-300="opacity: 0" data-500="opacity: 1")
        h3 活動日期:8/24-8/25
        h3 活動時間:9:00-16:00
        h3 地點:嘉南藥理大學 Q棟 Q111-2教室
        h3 聯絡人: 廖雅雯助理 06-2664911#5700
        br
        br
        br
        p 電子書不再依賴於紙張，以磁性儲存介質取而代之。得益於磁性介質儲存的高性能，一張700MiB的光碟可以代替傳統的三億字的紙質圖書。這大大減少了木材的消耗和空間的佔用。


section#section_future
  .container-fluid
    .row
      .col-sm-12
        h2 注意事項
        

        hr
      .col-sm-6
        img(src="http://opinion.cw.com.tw/sites/default/files/blog_articles/main_image/images/shutterstock_331471589.jpg", alt="" data-bottom-top="filter: grayscale(100%);background-position 0% 0%"
      data-center="filter: grayscale(0%);background-position 50% 50%")
      .col-sm-6.feature(data-bottom-top="transform: translateX(50px)"
      data-center="transform: translateX(0px)")
        i.fa.fa-desktop
        h3 請自備素材(影音檔、圖片、簡報等) 。
        h3 與休閒、觀光、長期照護、健康長照以及醫療資訊等相關素材更佳。
        h3 本次研習會提供軟體試用版載點。
        h3 本次研習提供餐點，二天全程參加完畢給予研習證明。
        
      
footer.jumbotron
  .container
    h2 報名填寫表單
    